# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Microsoft
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
IncludeBlocks: Regroup
IncludeCategories: 
  - Regex: '(OpenGLPG_Base)'
    Priority: -1
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^(<|"(gtest|gmock|isl|json)/)'
    Priority: 4
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
  - Regex: '<[a-z0-9_]+>'
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: '.*'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
...
